{% extends 'Template.html.twig' %}

{% block title %}Organisme index{% endblock %}

{% block body %}
    <h1>Organisme</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>NumeroTel</th>
                <th>AdresseMail</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organisme in organismes %}
            <tr>
                <td>{{ organisme.id }}</td>
                <td>{{ organisme.nom }}</td>
                <td>{{ organisme.NumeroTel }}</td>
                <td>{{ organisme.adresseMail }}</td>
                <td>{{ organisme.adresse }}</td>
                <td>
                    <a href="{{ path('app_organisme_show', {'id': organisme.id}) }}">show</a>
                    <a href="{{ path('app_organisme_edit', {'id': organisme.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_organisme_new') }}">Create new</a>
{% endblock %}
